<a href="post/{{post.id}}">
  <div class=" col-md-4 col-xl-3 post-tile" style="background-image:url({{post.headerImage}})">
    <h3 class="post-tile-title">{{post.title}}</h3>
    <div class="post-tile-snippet">
      {{{post.snippet}}}
    </div>
  </div>
</a>
