.navbar {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  .navbar-nav {
    text-align: center;
  }

  .sign-buttons {
    text-align: center;
  }
}

.navbar-brand a, .navbar-brand:hover a, .navbar-brand:visited a, .navbar-brand:link a, .navbar-brand:active a {
  text-decoration: none;
}


.create-post-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.post-tile {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  .post-tile-title {
    position: absolute;
    color: white;
    opacity: 0.9;
    text-shadow: 0px 2px 3px black;
  }

  .post-tile-title {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    letter-spacing: 0.05em;
    font-size: 2.5em;
  }

  .post-tile-snippet {
    position: absolute;
    height: 25%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.2);
    font-family: 'Vollkorn', serif;
  }
}

.post-title {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
}

.post-author {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  text-align: center;
}

.post-body {
  margin: 10px;
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: 'Vollkorn', serif;
  font-size: 1.4em;
  line-height: 1.6em;
}
.post-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-center {
  margin: 0 auto;
  float: none;
}

.fr-element {
  min-height: 300px;
}

.about-image {
  background-image: url('http://lorempixel.com/1000/1000/cats');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.comments {
  margin-bottom: 20px;
}

.comment {
  position: relative;
  padding: 10px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
  margin: 2.5px;
  .body {
    margin-bottom: 20px;
  }
  &:hover, &:hover .score button {
    background-color: rgb(224, 237, 245);
  }

  &:hover .score button, &:active .score button, &:visited .score button, &:link .score button, &:focus .score button, &:last-of-type .score button {
    text-decoration: none;
    outline: none;
  }

  .comment-info {
    position: absolute;
    float: right;
    right: 5px;
    bottom: 5px;
    .author {
      display: inline-block;
    }
    .score {
      display: inline-block;
      button {
        background-color: rgba(0,0,0,0);
        border: none;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}

.comment-submit {
  margin-bottom: 10px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  p {
    margin: 20px;
  }
}
