{{#each model.posts as |post|}}
  {{post-tile post=post}}
{{/each}}
{{#if session.isAuthenticated}}
  <a class="create-post-button" href="create-post">
    <button class="btn btn-default">Create Post</button>
  </a>
{{/if}}
