{{#if session.isAuthenticated}}
  <p class="user-alert alert alert-success">Welcome <strong>{{model.user.firstName}}</strong>!</p>
{{/if}}
{{#each model.posts as |post|}}
  {{post-tile post=post}}
{{/each}}
{{#if session.isAuthenticated}}
  <a class="create-post-button" href="create-post">
    <button class="btn btn-default">Create Post</button>
  </a>
{{/if}}
